body {
  font-family:'Courier New', Courier, monospace;
  color: lime;
  background-color: black ;
  margin: 0;
  padding: 0;
}

#login {
  text-align: center;
  margin-top: 20px;
}

#login label {
  font-size: 20px;
  margin-right: 10px;
}

#login input {
  padding: 8px;
  margin-bottom: 10px;
}

#login button {
  background-color: black;
  color: lime;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

#login button:hover {
  background-color: red;
}

ul {
  list-style-type: none;
  padding: 0;
}

#itemDeets {
  background-color: black;
  border: 2px solid lime;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#initialData {
  border: 2px solid lime;

}
#itemDeets h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#itemDeets p {
  font-size: 16px;
  margin-bottom: 8px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  border: 2px solid lime;
  border-radius: 5px;
  z-index: 999;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  color: lime;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #e60000;
}

#username {
  background-color: black;
  color: lime;
  font-family:'Courier New', Courier, monospace;  
}

#password{ 
  background-color: black;
  color: lime;  
  font-family:'Courier New', Courier, monospace;
}

#editBtn{
  background-color: black;
  color: lime;  
  font-family:'Courier New', Courier, monospace;
}

#editBtn:hover{
  background-color: red;
}

#deleteBtn{
  background-color: black;
  color: lime;  
  font-family:'Courier New', Courier, monospace;
}

#deleteBtn:hover{
  background-color: red;
}

#logoutBtn{
  background-color: black;
  color: lime;  
  font-family:'Courier New', Courier, monospace;
}

#logoutBtn:hover{
  background-color: red;
}








