#userId{
    background-color: black;
    color: lime;  
    font-family:'Courier New', Courier, monospace;
  }
#ItemName{
    background-color: black;
    color: lime;  
    font-family:'Courier New', Courier, monospace;
  }
#description{
    background-color: black;
    color: lime;  
    font-family:'Courier New', Courier, monospace;
  }
#quantity{
    background-color: black;
    color: lime;  
    font-family:'Courier New', Courier, monospace;
  }

#updateBtn{
    background-color: black;
    color: lime;  
    font-family:'Courier New', Courier, monospace;
  }

#updateBtn:hover{
background-color: red;
}

#nvmBtn{
    background-color: black;
    color: lime;  
    font-family:'Courier New', Courier, monospace;
  }

  #nvmBtn:hover{
    background-color: red;
    }


